<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>{{title}}</title>
		<link rel='stylesheet' href='public/css/style.css' />
	</head>
	<body>
		<header>
			<h1>{{title}}</h1>
		</header>

		{{{body}}}

		<footer class='footer'>
			<p>Name: Deep Manek</p>
			<p>Student ID: 20009220</p>
			<p>Full Stack Developer</p>
		</footer>
	</body>
</html>